@import '../../../variables';
.gallery-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-preview {
  margin-right: 5px;
  margin-bottom: 20px;
  width: 19%;
}

.photo-preview-footer {
  font-size: 10.5px;
}

.searchbox {
  margin: 30px auto;
  width: 360px;
  border: 1px solid $secondColor;
  border-radius: 50px;
  background-image: url('../../../assets/image/searchicon.png');
  background-position: 320px 15px;
  background-repeat: no-repeat;
}
