  <div class="page-wrapper">

    <div class="explore">
      <form class="search">
        <input class="searchbox" autocomplete="off" placeholder="Search over 10,000+ Free Travel Photos" type="text"
          name="search" id="photo-search" value="">
      </form>
    </div>

    <section class="gallery-photos">
      <div class="photo-preview">
        <a href="#">
          <div class="img-wrapper">
            <img src="../../../assets/image/360x230.png">
          </div>
        </a>
        <div class="photo-preview-footer">
          <p class="tags">
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
          </p>
          <div class="right-option">
            <a class="download-photo btn-outline" href="#" target="_blank">
              <i class="icon icon-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="photo-preview">
        <a href="#">
          <div class="img-wrapper">
            <img src="../../../assets/image/360x230.png">
          </div>
        </a>
        <div class="photo-preview-footer">
          <p class="tags">
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
          </p>
          <div class="right-option">
            <a class="download-photo btn-outline" href="#" target="_blank">
              <i class="icon icon-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="photo-preview">
        <a href="#">
          <div class="img-wrapper">
            <img src="../../../assets/image/360x230.png">
          </div>
        </a>
        <div class="photo-preview-footer">
          <p class="tags">
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
          </p>
          <div class="right-option">
            <a class="download-photo btn-outline" href="#" target="_blank">
              <i class="icon icon-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="photo-preview">
        <a href="#">
          <div class="img-wrapper">
            <img src="../../../assets/image/360x230.png">
          </div>
        </a>
        <div class="photo-preview-footer">
          <p class="tags">
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
          </p>
          <div class="right-option">
            <a class="download-photo btn-outline" href="#" target="_blank">
              <i class="icon icon-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="photo-preview">
        <a href="#">
          <div class="img-wrapper">
            <img src="../../../assets/image/360x230.png">
          </div>
        </a>
        <div class="photo-preview-footer">
          <p class="tags">
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
          </p>
          <div class="right-option">
            <a class="download-photo btn-outline" href="#" target="_blank">
              <i class="icon icon-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="photo-preview">
        <a href="#">
          <div class="img-wrapper">
            <img src="../../../assets/image/360x230.png">
          </div>
        </a>
        <div class="photo-preview-footer">
          <p class="tags">
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
          </p>
          <div class="right-option">
            <a class="download-photo btn-outline" href="#" target="_blank">
              <i class="icon icon-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="photo-preview">
        <a href="#">
          <div class="img-wrapper">
            <img src="../../../assets/image/360x230.png">
          </div>
        </a>
        <div class="photo-preview-footer">
          <p class="tags">
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
          </p>
          <div class="right-option">
            <a class="download-photo btn-outline" href="#" target="_blank">
              <i class="icon icon-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="photo-preview">
        <a href="#">
          <div class="img-wrapper">
            <img src="../../../assets/image/360x230.png">
          </div>
        </a>
        <div class="photo-preview-footer">
          <p class="tags">
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
            <a href="#" class="label">tag</a>
          </p>
          <div class="right-option">
            <a class="download-photo btn-outline" href="#" target="_blank">
              <i class="icon icon-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
