@import '../../../variables';

.explore{
  margin-top: 110px;
}

.gallery-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-preview {
  margin-right: 5px;
  margin-bottom: 20px;
  width: 19%;
}

.photo-preview-footer {
  font-size: 10.5px;
}

.searchbox {
  margin: 30px auto 60px;
  width: 360px;
  border: 1px solid $secondColor;
  border-radius: 50px;
  background-image: url('../../../assets/image/searchicon.png');
  background-position: 320px 15px;
  background-repeat: no-repeat;
}

// @media screen and (min-width: 1025px) and (max-width: 1999px) {
//   .photo-preview {
//     width: 24%;
//   }
// }

// @media screen and (min-width: 770px) and (max-width: 1024px) {
//   .photo-preview {
//     width: 30%;
//   }
// }

// @media screen and (max-width: 769px) {
//   .explore{
//     display: none;
//   }
//   .photo-preview {
//     width: 48%;
//   }
// }


