  <div class="page-wrapper">

    <div class="explore">
      <form class="search">
        <input class="searchbox" autocomplete="off" placeholder="Search over 10,000+ Free Travel Photos" type="text"
          name="search" id="photo-search" value="">
      </form>
    </div>

    <section class="gallery-photos">
      <div class="photo-preview" *ngFor="let photo of arrPhoto;">
        <a>
          <div class="img-wrapper">
            <img [src]="photo.source">
          </div>
        </a>
        <div class="photo-preview-footer">
          <p class="tags">
            <a href="#" class="label" *ngFor="let tag of photo?.tags">{{ tag.name }}</a>
          </p>
          <div class="right-option">
            <a class="download-photo btn-outline" [href]="photo.source" target="_blank">
              <i class="icon icon-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
