@import '../../../variables';

button {
  border: none;
  color: #fff;
  padding: 10px;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    color: $mainBrandColor;
    background-color: $mainBg;
    outline: 2px solid $mainBrandColor;
  }
}

button:disabled {
  background-color: $mainColor;
  cursor: not-allowed;

  &:hover {
    color: #fff;
    outline: none;
  }
}

.publish{
  background-color: #d2fff7;
}
