@import '../../../variables';

button {
  border: none;
  color: #fff;
  padding: 10px;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    color: $mainBrandColor;
    background-color: $mainBg;
    outline: 2px solid $mainBrandColor;
  }
}

button:disabled {
  background-color: $mainColor;
  cursor: not-allowed;

  &:hover {
    color: #fff;
    outline: none;
  }
}

.publish {
  background-color: #d2fff7;
}

.arrow-disabled {
  content: "";
}

.arrow-up::after {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid black;
  left: 10px;
  bottom: 10px;
}

.arrow-down::after {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid black;
  left: 10px;
  top: 10px;
}

button {
  position: relative;

  span {
    background-color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    color: #f00;
    font-weight: $bold;
    top: -12px;
    right: -12px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 1550px) {
  table {

    th {
      font-size: $small-size;
      td {
        font-size: $small-size;
        padding-left: 3px;
        padding-right: 3px;
      }
    }

    tr {
      td {
        font-size: $small-size;
        padding-left: 3px;
        padding-right: 3px;
      }
    }

  }
}
