<div class="card">
  <div class="card-header flex-box">
    <div>
      <h3>Категорії блогу</h3>
    </div>
    <div class="col-1">
      <button type="button" (click)="openModal(categoryModal)">Додати</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 5%;">#</th>
          <th scope="col" style="width: 20%;">Назва</th>
          <th scope="col" style="width: 55%;">Опис</th>
          <th scope="col" style="width: 10%;">Змінити</th>
          <th scope="col" style="width: 10%;">Видалити</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of arrCategories; let i=index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ category.name}}</td>
          <td>{{ category.description }}</td>
          <td>
            <button type="button" (click)="editCategory(categoryModal, category)">Змінити</button>
          </td>
          <td>
            <button type="button" (click)="deleteCategory(category)">Видалити</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #categoryModal>

  <div class="modal-header">
    <h4 *ngIf="!editStatus" class="modal-title pull-right">Додати нову категорію</h4>
    <h4 *ngIf="editStatus" class="modal-title pull-right">Змінити категорію</h4>
  </div>
  <form [formGroup]="form">
    <div class="modal-body">
      <div class="form-control">
        <label for="name">Назва</label>
        <input id="name" type="text" formControlName="name">
      </div>
      <div class="form-control">
        <label for="description">Опис</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="cancelCreateCategory()">Відмінити</button>
      <button *ngIf="!editStatus" type="button" (click)="addCategory()">Зберегти</button>
      <button *ngIf="editStatus" type="button" (click)="saveEdit()">Зберегти зміни</button>
    </div>
  </form>

</ng-template>
