<div class="post-share-box">
    <ul>
      <li>Share</li>
      <li><a class="icon icon-telegram" href="https://telegram.me/share/url?url=https://gorystytravelers.web.app/home&text=gorystytravelers" target="_blank"></a></li>
      <li><a class="icon icon-pinterest" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=https://gorystytravelers.web.app/home" data-pin-shape="round" target="_blank"></a></li> 
      <li><a class="icon icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgorystytravelers.web.app%2Fhome&amp;src=sdkpreparse"
         target="_blank"></a></li>
    </ul>
  </div>
