@import '../../../variables';

.post-share-box {

  ul {
    display: flex;
    list-style: none;
    overflow: hidden;
    margin: 0;

    li {
      list-style: none;
      margin-left: 20px;
      line-height: 14px;

      a {
        color: #000;
        font-size: 14px;

        &:hover {
          color: $mainBrandColor;
        }
      }

      &:first-child {
        margin-left: 0;
        font-size: 12px;
        color: #a6a5a5;
      }
    }
  }
}
