@import '../../../variables';

.footer {
  display: block;
  margin: 50px 0 0;

  .footer-top {
    padding: 30px 20px;
    background-color: $mainBg;

    .row {
      margin-left: -30px;
      margin-right: -30px;
    }

    .col-lg-4 {
      padding-left: 30px;
      padding-right: 30px;
    }

    .social {
      display: flex;
      justify-content: center;
    }
  }

  .footer-bottom {
    clear: both;
    display: block;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fff;

    #top {
      display: inline-block;
      margin: 10px 0;
      font-size: 30px;
      line-height: 35px;
      color: #000;
      font-family: $font-btn;

      &:hover {
        color: $mainBrandColor;
      }
    }

    .copy-right {
      padding: 10px;
      font-size: 12px;
      line-height: 14px;
      color: #949494;
      font-weight: 300
    }
  }

  .nav-footer {
    clear: both;
    margin-top: 25px;
    text-align: center;

    ul {
      display: block;
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        list-style: none;
        margin: 0 1% 10px;

        a {
          font-size: 12px;
          line-height: 16px;
          color: #979797;
          font-weight: 700;
          text-transform: uppercase;

          &:hover {
            color: $mainBrandColor;
          }
        }
      }
    }
  }
}
