<div class="page-wrapper">
  <div class="container flex-box">
    <!-- main part -->
    <div class="site-main">
      <header class="page-header">
        <span>BLOG</span>
        <h1 class="page-title">{{ titlePage }}</h1>
        <div class="description">
          <p *ngFor="let item of category">{{ item.description }}</p>
        </div>
      </header>
      <div class="list">
        <article class="post appeared" *ngFor="let post of arrayPost | paginate: config">

          <div class="post-thumbnail">
            <a [routerLink]="['/blog-detail/', post.id]">
              <img width="380" height="250" [src]="post.titleImg"
                class="attachment-noemi-list-fusion size-noemi-list-fusion" alt="post-img">
            </a>
          </div>
          <div class="post-content">
            <header class="entry-header">
              <!-- забрати цей лінк -->
              <!-- <div class="cat-links">    
                  <a>{{ titlePage }}</a>
                </div> -->
              <h2 class="entry-title">
                <a [routerLink]="['/blog-detail/', post.id]">{{ post.title }}</a>
              </h2>
              <div class="entry-title-posted">
                <span class="posted-on">
                  <time class="entry-date">{{ post.date.toDate() | date: 'yyyy-MM-dd'}}</time>
                </span>
                <span class="byline">
                  <span class="author">{{ post.author }}</span>
                </span>
              </div>
            </header>
            <div class="entry-content">
              <p>{{ post.description }}</p>
              <a class="more-link" [routerLink]="['/blog-detail/', post.id]"></a>
            </div>
            <footer class="entry-footer flex-box">
              <div class="post-comments">
                <i class="icon icon-comment-o"></i>
                <span>{{ post.comments.length }}</span>
              </div>
              <div class="post-share-box">
                <app-share-box [postId]='post.id'></app-share-box>
              </div>
            </footer>
          </div>
        </article>
      </div>
      <!-- pagination -->
      <pagination-template #p="paginationApi" (pageChange)="onPageChange($event)" *ngIf="arrayPost.length > 4">
        <div class="custom-pagination">
          <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <span *ngIf="!p.isFirstPage()" (click)="p.previous()"><i class="icon icon-arrow-left"></i>Попередня</span>
          </div>
          <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
            <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
            <div *ngIf="p.getCurrent() === page.value">
              <span>{{ page.label }}</span>
            </div>
          </div>
          <div class="pagination-next" [class.disabled]="p.isLastPage()">
            <span *ngIf="!p.isLastPage()" (click)="p.next()">Наступна<i class="icon icon-arrow-right"></i></span>
          </div>
        </div>
      </pagination-template>
    </div>
    <!-- sidebar -->
    <aside id="secondary" class="sidebar widget-area">
      <app-sidebar></app-sidebar>
    </aside>
  </div>
</div>
