<div class="page-wrapper">

    <div class="container">
  
      <!-- main part -->
  
      <div class="site-main">
        <header class="page-header">
          <span>BLOG</span>
          <h1 class="page-title">Gorysty travelers</h1>
          <div class="description">
            <p>Тільки про дві речі ми будемо шкодувати на смертному одрі - що мало любили і мало подорожували</p>
          </div>
        </header>
        <div class="list">
          <article class="post appeared">
            <div class="col-6">
              <div class="post-thumbnail">
                <a href="#">
                  <img width="380" height="250" src="../../../assets/image/360x230.png"
                    class="attachment-noemi-list-fusion size-noemi-list-fusion" alt="post-img">
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="post-content">
                <header class="entry-header">
                  <div class="cat-links">
                    <a href="#">Lifestyle</a>
                    <a href="#">Music</a>
                  </div>
  
                  <h2 class="entry-title">
                    <a href="#">Dillon – CRITICS CALL HER A NEW
                      BJORK!</a>
                  </h2>
  
                  <span class="posted-on">
                    <time class="entry-date published updated" datetime="May 16, 2016">May 16, 2016</time>
                  </span>
                  <span class="byline">
                    <span class="author">
                      by Karen Meyers
                    </span>
                  </span>
                </header>
                <div class="entry-content">
                  <p>Combining singer/songwriter passion with the precision of electronic music, Berlin’s Dillon — aka
                    Dominique Dillon de Byington — began making music when she was still in her teens. She first</p>
                  <a class="more-link" href="#"></a>
                </div>
              </div>
              <footer class="entry-footer">
                <div class="post-comments">
                  <a href="#">
                    <i class="icon icon-comment-o"></i>
                    <span>0</span>
                  </a>
                </div>
                <div class="post-share-box">
                  <ul>
                    <li>Share</li>
                    <li>
                      <a class="icon icon-facebook" href="#" target="_blank"></a>
                    </li>
                    <li>
                      <a class="icon icon-telegram" href="#" target="_blank"></a>
                    </li>
                    <li>
                      <a class="icon icon-pinterest" href="#" target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </footer>
            </div>
  
  
          </article>
          <article class="post appeared">
              <div class="col-6">
                <div class="post-thumbnail">
                  <a href="#">
                    <img width="380" height="250" src="../../../assets/image/360x230.png"
                      class="attachment-noemi-list-fusion size-noemi-list-fusion" alt="post-img">
                  </a>
                </div>
              </div>
              <div class="col-6">
                <div class="post-content">
                  <header class="entry-header">
                    <div class="cat-links">
                      <a href="#">Lifestyle</a>
                      <a href="#">Music</a>
                    </div>
    
                    <h2 class="entry-title">
                      <a href="#">Dillon – CRITICS CALL HER A NEW
                        BJORK!</a>
                    </h2>
    
                    <span class="posted-on">
                      <time class="entry-date published updated" datetime="May 16, 2016">May 16, 2016</time>
                    </span>
                    <span class="byline">
                      <span class="author">
                        by Karen Meyers
                      </span>
                    </span>
                  </header>
                  <div class="entry-content">
                    <p>Combining singer/songwriter passion with the precision of electronic music, Berlin’s Dillon — aka
                      Dominique Dillon de Byington — began making music when she was still in her teens. She first</p>
                    <a class="more-link" href="#"></a>
                  </div>
                </div>
                <footer class="entry-footer">
                  <div class="post-comments">
                    <a href="#">
                      <i class="icon icon-comment-o"></i>
                      <span>0</span>
                    </a>
                  </div>
                  <div class="post-share-box">
                    <ul>
                      <li>Share</li>
                      <li>
                        <a class="icon icon-facebook" href="#" target="_blank"></a>
                      </li>
                      <li>
                        <a class="icon icon-telegram" href="#" target="_blank"></a>
                      </li>
                      <li>
                        <a class="icon icon-pinterest" href="#" target="_blank"></a>
                      </li>
                    </ul>
                  </div>
                </footer>
              </div>
    
    
            </article>
  
        </div>
  
        <!-- pagination -->
        <nav class="navigation pagination">
          <div class="nav-links">
  
            <a class="page-numbers current" href="#">1</a>
            <a class="page-numbers" href="#">2</a>
          </div>
        </nav>
      </div>
  
      <!-- sidebar -->
  
      <aside id="secondary" class="sidebar widget-area">
        <app-sidebar></app-sidebar>
      </aside>
    </div>
  </div>
  
