<header id="header" class="header">
  <div class="page-wrapper">
    
      <div class="row">
        <!-- LOGO -->
        <div class="col-xl-3 col-lg-12">
          <div class="branding">
            <p class="site-title">
              <a class="branding-ico" [routerLink]="['/home']">
                <img src="../../../assets/image/logo1.png" alt="logo">
                <span class="h1">gorysty</span>
              </a>
            </p>
          </div>
        </div>
        <div class="col-xl-7 col-lg-8 col-md-3 col-sm-3">
          <!-- HIDDEN BUTTON -->
          <button class="menu-button icon icon-bars" (click)="openNav()"></button>
          <!-- MAIN MENU -->
          <nav id="main-navigation" class="main-navigation">
            <div class="menu-menu-container">
              <ul>
                <li class="menu-item menu-item-has-children">
                  <a [routerLink]="['/blog']" routerLinkActive="current-menu-item">Блог</a>
                  <ul class="sub-menu">
                    <li class="menu-item" *ngFor="let category of arrCategories">
                      <a [routerLink]="['/blog-category/'+category.name]">{{ category.name }}</a>
                    </li>
                  </ul>
                </li>
                <li (click)="closeNav()">
                  <a [routerLink]="['/advices']" routerLinkActive="current-menu-item">Поради</a>
                </li>
                <li class="menu-item menu-item-has-children">
                  <a [routerLink]="['/gallery']" routerLinkActive="current-menu-item">Фотогалерея</a>
                  <ul class="sub-menu">
                    <li class="menu-item" *ngFor="let category of arrCategories">
                      <a [routerLink]="['/gallery-category/'+category.name]">{{ category.name }}</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a [routerLink]="['/weather']" routerLinkActive="current-menu-item">Погода</a>
                </li>
                <li class="menu-item">
                  <a [routerLink]="['/about']" routerLinkActive="current-menu-item">Про нас</a>
                </li>
                <li class="menu-item" *ngIf="!auth.isAuthenticated()">
                  <a (click)="openModal(loginForm)"><i class="icon icon-user"></i></a>
                </li>
                <li class="menu-item" *ngIf="auth.isAuthenticated()">
                  <a [routerLink]="['/admin']"><i class="icon icon-user-check"></i></a>
                </li>
                <li class="menu-item" *ngIf="auth.isAuthenticated()">
                  <a (click)="logout($event)">Вихід</a>
                </li>
              </ul>
            </div>
          </nav>

          <!-- mobile-navigation-wrapper  -->
          <nav id="mobile-navigation-wrapper">
            <div class="overlay" [style.width]="showMobileMenu ? '100%' : '0'">
              <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
              <ul class="overlay-content">
                <li (click)="closeNav()">
                  <a [routerLink]="['/blog']" routerLinkActive="current-menu-item">Блог</a>
                </li>
                <li class="arrow" (click)=" dropDownMenu()">
                  <a>Блог категорії</a>
                  <ul class="dropdown-hide" [ngClass]="{'dropdown-show': dropMenu}">
                    <li *ngFor="let category of arrCategories" (click)="closeNav()">
                      <a [routerLink]="['/blog-category/'+category.name]">{{ category.name }}</a>
                    </li>
                  </ul>
                </li>
                <li (click)="closeNav()">
                  <a [routerLink]="['/advices']" routerLinkActive="current-menu-item">Фотогалерея</a>
                </li>
                <li (click)="closeNav()">
                  <a [routerLink]="['/gallery']" routerLinkActive="current-menu-item">Фотогалерея</a>
                </li>
                <li (click)="closeNav()">
                  <a [routerLink]="['/weather']" routerLinkActive="current-menu-item">Погода</a>
                </li>
                <li (click)="closeNav()">
                  <a [routerLink]="['/about']" routerLinkActive="current-menu-item">Про нас</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-9 col-sm-9">
          <div class="social-box">
            <!-- SHARE BOX -->
            <div class="social">
              <app-follow-btn></app-follow-btn>
            </div>
          </div>
        </div>
      </div>

  </div>
</header>

<ng-template #loginForm>
  <div class="modal-header">
    <h6 class="modal-title pull-left">Увійти</h6>
  </div>
  <div class="modal-body">
    <form class="form-sigIn" [formGroup]="form" (ngSubmit)=signIn()>
      <div class="alert alert-danger" *ngIf="auth.error$ | async as error">{{ error }}</div>
      <div class="form-control" [ngClass]="{'invalid': form.get('email').touched && form.get('email').invalid}">
        <label for="inputEmail">Email</label>
        <input type="email" id="inputEmail" formControlName="email">
        <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
          <small *ngIf="form.get('email').errors.required">
            введіть email
          </small>
          <small *ngIf="form.get('email').errors.email">
            введіть коректний email
          </small>
        </div>
      </div>
      <div class="form-control" [ngClass]="{'invalid': form.get('password').touched && form.get('password').invalid}">
        <label for="inputPassword">Пароль</label>
        <input type="password" id="inputPassword" formControlName="password">
        <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
          <small *ngIf="form.get('password').errors.required">
            введіть пароль
          </small>
          <small *ngIf="form.get('password').errors.minlength">
            пароль повинен бути не менше {{ form.get('password').errors.minlength.requiredLength }} символів
          </small>
        </div>
      </div>
      <div class="btn-wrapper form-control">
        <button type="button" class="button" (click)="closeSignIn()">Відмінити</button>
        <button type="submit" class="button" (click)="signIn()" [disabled]='form.invalid'>Увійти</button>
      </div>
    </form>
  </div>
</ng-template>
