<section class="widget widget_recent_entries">
    <h2 class="widget-title">Latest Posts</h2>
    <ul>
      <li>
        <a class="post-image" href="#">
          <img src="../../../assets/image/360x230.png" alt="post-imagev">
        </a>
        <div class="post-content">
          <span class="post-date">May 16, 2016</span>
          <h3>
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </h3>
        </div>
      </li>
      <li>
        <a class="post-image" href="#">
          <img src="../../../assets/image/360x230.png" alt="post-imagev">
        </a>
        <div class="post-content">
          <span class="post-date">May 16, 2016</span>
          <h3>
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </h3>
        </div>
      </li>
      <li>
        <a class="post-image" href="#">
          <img src="../../../assets/image/360x230.png" alt="post-imagev">
        </a>
        <div class="post-content">
          <span class="post-date">May 16, 2016</span>
          <h3>
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </h3>
        </div>
      </li>
      <li>
        <a class="post-image" href="#">
          <img src="../../../assets/image/360x230.png" alt="post-imagev">
        </a>
        <div class="post-content">
          <span class="post-date">May 16, 2016</span>
          <h3>
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </h3>
        </div>
      </li>
  
    </ul>
  </section>
