<section class="widget widget_recent_entries">
  <h2 class="widget-title">Latest Posts</h2>
  <ul>
    <li *ngFor="let post of arrPost">
      <a class="post-image" [routerLink]="['/blog-detail/'+ post.id]">
        <img [src]="post.titleImg" alt="post-img">
      </a>
      <div class="post-content">
        <span class="post-date">{{ post.date.toDate() | date: 'yyyy-MM-dd' }}</span>
        <h3>
          <a [routerLink]="['/blog-detail/'+ post.id]">{{ post.title }}</a>
        </h3>
      </div>
    </li>
  </ul>
</section>
