@import '../../../variables';

.widget_recent_entries {
  li {
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;

    .post-image {
      float: left;
      width: 72px;
      margin-right: 15px;
      opacity: 1;

      &:hover {
        opacity: .8;
      }
    }
  }

  a {
    display: block;
    color: $colorBlack;
    font-weight: 600;

    &:hover {
      color: $mainBrandColor;
    }
  }

  .post-date {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 13px;
    color: $secondColor
  }

  h3 {
    margin: 0;
    display: block;
    font-size: 13px;
    line-height: 17px;
    color: $colorBlack;
    font-weight: 600;
    text-transform: uppercase
  }

  .post-content {
    float: left;
    width: 183px
  }
}
