<div class="page-wrapper">
  <section class="recent-posts">
    <div class="container">
      <div class="post-preview">
        <div class="row">
          <article class="col-4 post" *ngFor="let weather of arrWeather">
            <header class="entry-header">
              <div style="font-size: 25px;margin-top: 10px;">{{weather.name}}</div>
              <div style="font-size: 32px;margin-top: 5px;">{{weather.temp | number:'1.0-0' }}° <img
                  [src]="setIcoWeather(weather.icon)" alt="ico"></div>
              <div style="font-size: 12px;">Вологість: {{weather.humidity }}%</div>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="100" [src]="weather.titleImg" alt="general-image">
              </a>
            </div>
            <div>
              <table>
                <thead>
                  <tr>
                    <th *ngFor="let daily of weather.daily">{{ daily.date | date: 'dd MM'}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let daily of weather.daily">{{ daily.temp | number:'1.0-0' }}°</td>
                  </tr>
                  <tr>
                    <td *ngFor="let daily of weather.daily">{{ daily.humidity }}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>

        </div>
      </div>
    </div>
  </section>
</div>
