<div class="page-wrapper">
  <div class="container">
    <section class="author-vcard">
      <div class="row wrap-head-page">
        <div class="col-lg-3 col-sm-4">
          <div class="avatar"></div>
        </div>
        <div class="col-lg-7 col-sm-8">
          <div class="content">
            <h1 class="title">Привіт усім!!! Вітаємо Вас на Gorysty Travellers</h1>
            <p class="about-text">Подорожі навчають більше, ніж будь-що інше. Іноді один день, проведений в інших
              місцях, дає більше, ніж десять років життя вдома</p>
            <h3 class="sub-title">Ми у соціальних мережах</h3>
            <!-- SHARE BOX -->
            <div class="share-box">
              <app-follow-btn></app-follow-btn>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/eTR7-dtH0w8?controls=0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, blanditiis eligendi error possimus totam
          officiis magni eos optio, quasi accusantium recusandae aspernatur aliquam inventore, molestiae cupiditate
          deleniti vel. Laboriosam voluptatibus consequuntur alias eius, odio cum, molestias exercitationem natus
          obcaecati culpa iure eos maiores cupiditate! Ullam molestias qui veritatis repellendus tempore adipisci quas
          veniam nulla magni repellat impedit quisquam eius omnis soluta placeat, cum aliquid ex. Sint quo temporibus
          atque nulla corrupti, ducimus, numquam dolores perspiciatis quam, libero eveniet a necessitatibus eaque!
          Quae, cupiditate debitis maiores sapiente accusantium ad ipsa modi autem vero ratione aspernatur impedit
          voluptate voluptatum labore nostrum vel voluptatibus quia itaque dolor eaque! Enim, molestiae voluptas
          suscipit vel quis tempore, consequatur odit nisi fuga vitae temporibus at iste in, quos et ab perferendis
          error? Blanditiis repellat quidem voluptatibus. Illum maxime voluptatem quis. Molestiae, architecto eligendi
          sapiente nemo necessitatibus fuga quam voluptas sed itaque, tempora cum et aliquam. Nesciunt, cumque animi
          ipsum velit inventore deleniti illo amet officiis, laborum iure ut laudantium numquam iste hic, corporis
          deserunt esse voluptatum provident voluptas placeat praesentium veritatis. Quo officiis quasi consequuntur
          quibusdam voluptate molestias, veritatis consequatur similique, vitae cupiditate, odio sunt nam laborum
          sapiente temporibus doloremque accusantium fuga! Voluptatum non facilis harum, accusantium ullam obcaecati
          eos inventore? Consectetur itaque, dignissimos quia repellat voluptate veniam? Qui nostrum expedita commodi
          animi consequuntur natus recusandae nulla ipsa. Hic quia, modi laborum inventore debitis accusamus
          laboriosam numquam repudiandae tenetur suscipit blanditiis distinctio saepe placeat fugiat accusantium
          impedit quidem ratione ipsum qui odit labore perferendis aliquam reiciendis iure. Officia, quia incidunt
          cumque eveniet id distinctio culpa magnam similique possimus sunt qui at, molestias quam ratione delectus.
          Voluptatem neque, vitae quo velit at sed exercitationem ipsum iure consequatur aperiam doloremque fugiat
          dolor earum deleniti nesciunt ipsa dignissimos nobis ad similique reiciendis ab qui numquam eligendi harum.
          In, nulla.</p>
      </div>
    </section>
  </div>
</div>
