<section class="banner">
  <div class="banner-container">
    <h1 class="banner-heading-title">gorysty travelers</h1>
  </div>
</section>
<div class="page-wrapper">
  <section class="recent-posts">
    <div class="container">
      <div class="post-preview">
        <div class="row">
          <article class="col-4 post" *ngFor="let post of arrPosts">
            <header class="entry-header">
              <div class="cat-links">
                <a href="#">category</a>
              </div>
              <h2 class="entry-title">
                <a [routerLink]="['/blog-detail/', post.id]">{{ post.title | slice: 0: 35}} ...</a>
              </h2>
              <span class="posted-on">
                <time>{{ post.date.toDate() | date: 'yyyy-MM-dd' }}</time>
              </span>
              <span class="author">{{ post.author }}</span>
            </header>
            <div class="post-thumbnail">
              <a [routerLink]="['/blog-detail/', post.id]">
                <img width="360" height="100" [src]="post.titleImg" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>{{ post.description }}</p>
              <a class="more-link" [routerLink]="['/blog-detail/', post.id]"></a>
            </div>
            <footer class="entry-footer flex-box">
              <div class="post-comments">
                <a>
                  <i class="icon icon-comment-o"></i>
                  <span>0</span>
                </a>
              </div>
              <app-share-box></app-share-box>
            </footer>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- pagination -->
  <nav class="navigation pagination">
    <div class="nav-links">
      <a class="page-numbers current" href="#">1</a>
      <a class="page-numbers" href="#">2</a>
    </div>
  </nav>
</div>
