<section class="banner">
  <div class="banner-container">
    <h1 class="banner-heading-title">gorysty travelers</h1>
  </div>
</section>

<div class="page-wrapper">

  <section class="page-header">
    <h1 class="page-title">нові статті</h1>
  </section>

  <section class="recent-posts">
    <div class="container">
      <div class="post-preview">
        <div class="row row-tablet">
          <article class="col-4 post" *ngFor="let post of arrPost">
            <header class="entry-header">
              <div class="cat-links">
                <a [routerLink]="['/blog-category/'+ post.category.name]">{{ post.category.name }}</a>
              </div>
              <h2 class="entry-title">
                <a [routerLink]="['/blog-detail/', post.id]">{{ post.title | slice:0:40 }}...</a>
              </h2>
              <div class="entry-title-posted">
                <span class="posted-on">
                  <time>{{ post.date.toDate() | date: 'yyyy-MM-dd'}}</time>
                </span>
                <span class="author">{{ post.author }}</span>
              </div>
            </header>
            <div class="post-thumbnail">
              <a [routerLink]="['/blog-detail/', post.id]">
                <img width="360" height="230" [src]="post.titleImg" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>{{ post.description }}</p>
              <a class="more-link" [routerLink]="['/blog-detail/', post.id]"></a>
            </div>
            <footer class="entry-footer flex-box">
              <div class="post-comments">
                <a>
                  <i class="icon icon-comment-o"></i>
                  <span>0</span>
                </a>
              </div>
              <app-share-box></app-share-box>
            </footer>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="page-header">
    <h1 class="page-title">нові завантаження у фотогалерею</h1>
  </section>

  <section class="recent-photos">

    <div class="container">
      <div class="flex-box">
        <div class="photo-preview" *ngFor="let photo of arrPhoto">
          <a href="#">
            <div class="img-wrapper">
              <img [src]="photo.source">
            </div>
          </a>
          <div class="photo-preview-footer">
            <p class="tags">
              <a href="#" class="label" *ngFor="let tag of photo.tags">{{ tag.name }}</a>
            </p>
            <div class="right-option">
              <a class="download-photo btn-outline" [href]="photo.source" target="_blank">
                <i class="icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
