<section class="banner">
  <div class="banner-container">
    <h1 class="banner-heading-title">gorysty travelers</h1>
  </div>
</section>

<div class="page-wrapper">

  <section class="page-header">
    <h1 class="page-title">recent posts</h1>
  </section>

  <section class="recent-posts">
    <div class="container">
      <div class="post-preview">
        <div class="row">
          <article class="col-4 post">
            <header class="entry-header">
              <div class="cat-links">
                <a href="#">route_1</a>
                <a href="#">2-3 days</a>
                <a href="#">easy</a>
              </div>

              <h2 class="entry-title">
                <a href="#">
                  Mountain routes
                </a>
              </h2>

              <span class="posted-on">
                <time datetime="June 1, 2016">June 1, 2016</time>
              </span>
              <span class="author">
                by Lorem Lorem
              </span>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="230" src="../../..//assets/image/360x230.png" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic asperiores, molestiae voluptates illo
                praesentium repellat eligendi libero tempore adipisci eum pariatur ea.</p>
              <a class="more-link" [routerLink]="['/blog-detail']"></a>
            </div>
            <footer class="entry-footer flex-box">
              <div class="post-comments">
                <a>
                  <i class="icon icon-comment-o"></i>
                  <span>0</span>
                </a>
              </div>
              <app-share-box></app-share-box>
            </footer>
          </article>

          <article class="col-4 post">
            <header class="entry-header">
              <div class="cat-links">
                <a href="#">route_1</a>
                <a href="#">2-3 days</a>
                <a href="#">easy</a>
              </div>

              <h2 class="entry-title">
                <a href="#">
                  Mountain routes
                </a>
              </h2>

              <span class="posted-on">
                <time datetime="June 1, 2016">June 1, 2016</time>
              </span>
              <span class="author">
                by Lorem Lorem
              </span>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="230" src="../../..//assets/image/360x230.png" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic asperiores, molestiae voluptates illo
                praesentium repellat eligendi libero tempore adipisci eum pariatur ea.</p>
              <a class="more-link" [routerLink]="['/blog-detail']"></a>
            </div>
            <footer class="entry-footer flex-box">
              <div class="post-comments">
                <a>
                  <i class="icon icon-comment-o"></i>
                  <span>0</span>
                </a>
              </div>
              <app-share-box></app-share-box>
            </footer>
          </article>

          <article class="col-4 post">
            <header class="entry-header">
              <div class="cat-links">
                <a href="#">route_1</a>
                <a href="#">2-3 days</a>
                <a href="#">easy</a>
              </div>

              <h2 class="entry-title">
                <a href="#">
                  Mountain routes
                </a>
              </h2>

              <span class="posted-on">
                <time datetime="June 1, 2016">June 1, 2016</time>
              </span>
              <span class="author">
                by Lorem Lorem
              </span>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="230" src="../../..//assets/image/360x230.png" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic asperiores, molestiae voluptates illo
                praesentium repellat eligendi libero tempore adipisci eum pariatur ea.</p>
              <a class="more-link" [routerLink]="['/blog-detail']"></a>
            </div>
            <footer class="entry-footer flex-box">
              <div class="post-comments">
                <a>
                  <i class="icon icon-comment-o"></i>
                  <span>0</span>
                </a>
              </div>
              <app-share-box></app-share-box>
            </footer>
          </article>

        </div>
      </div>
    </div>
  </section>

  <section class="page-header">
    <h1 class="page-title">recent photo</h1>
  </section>

  <section class="recent-photos">

    <div class="container">
      <div class="row">
        <div class="photo-preview">
          <a href="#">
            <div class="img-wrapper">
              <img src="../../../assets/image/360x230.png">
            </div>
          </a>
          <div class="photo-preview-footer">
            <p class="tags">
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
            </p>
            <div class="right-option">
              <a class="download-photo btn-outline" href="#" target="_blank">
                <i class="icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="photo-preview">
          <a href="#">
            <div class="img-wrapper">
              <img src="../../../assets/image/360x230.png">
            </div>
          </a>
          <div class="photo-preview-footer">
            <p class="tags">
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
            </p>
            <div class="right-option">
              <a class="download-photo btn-outline" href="#" target="_blank">
                <i class="icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="photo-preview">
          <a href="#">
            <div class="img-wrapper">
              <img src="../../../assets/image/360x230.png">
            </div>
          </a>
          <div class="photo-preview-footer">
            <p class="tags">
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
            </p>
            <div class="right-option">
              <a class="download-photo btn-outline" href="#" target="_blank">
                <i class="icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="photo-preview">
          <a href="#">
            <div class="img-wrapper">
              <img src="../../../assets/image/360x230.png">
            </div>
          </a>
          <div class="photo-preview-footer">
            <p class="tags">
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
            </p>
            <div class="right-option">
              <a class="download-photo btn-outline" href="#" target="_blank">
                <i class="icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
