<section class="banner">
  <div class="banner-container">
    <h1 class="banner-heading-title">gorysty travelers</h1>
  </div>
</section>

<div class="page-wrapper">

  <section class="page-header">
    <h1 class="page-title">recent posts</h1>
  </section>

  <section class="recent-posts">
    <div class="container">
      <div class="post-preview">
        <div class="row">
          <article class="col-4 post" *ngFor="let post of arrPost">
            <header class="entry-header">
              <div class="cat-links">
                <a [routerLink]="['/blog-category/'+ post.category.name]">{{ post.category.name }}</a>
              </div>
              <h2 class="entry-title">
                <a [routerLink]="['/blog-detail/', post.id]">{{ post.title | slice:0:40 }}...</a>
              </h2>
              <span class="posted-on">
                <time>{{ post.date.toDate() | date: 'yyyy-MM-dd'}}</time>
              </span>
              <span class="author">{{ post.author }}</span>
            </header>
            <div class="post-thumbnail">
              <a [routerLink]="['/blog-detail/', post.id]">
                <img width="360" height="230" [src]="post.titleImg" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>{{ post.description }}</p>
              <a class="more-link" [routerLink]="['/blog-detail/', post.id]"></a>
            </div>
            <footer class="entry-footer flex-box">
              <div class="post-comments">
                <a>
                  <i class="icon icon-comment-o"></i>
                  <span>0</span>
                </a>
              </div>
              <app-share-box></app-share-box>
            </footer>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="page-header">
    <h1 class="page-title">recent photo</h1>
  </section>

  <section class="recent-photos">

    <div class="container">
      <div class="row">
        <div class="photo-preview">
          <a href="#">
            <div class="img-wrapper">
              <img src="../../../assets/image/360x230.png">
            </div>
          </a>
          <div class="photo-preview-footer">
            <p class="tags">
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
            </p>
            <div class="right-option">
              <a class="download-photo btn-outline" href="#" target="_blank">
                <i class="icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="photo-preview">
          <a href="#">
            <div class="img-wrapper">
              <img src="../../../assets/image/360x230.png">
            </div>
          </a>
          <div class="photo-preview-footer">
            <p class="tags">
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
            </p>
            <div class="right-option">
              <a class="download-photo btn-outline" href="#" target="_blank">
                <i class="icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="photo-preview">
          <a href="#">
            <div class="img-wrapper">
              <img src="../../../assets/image/360x230.png">
            </div>
          </a>
          <div class="photo-preview-footer">
            <p class="tags">
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
            </p>
            <div class="right-option">
              <a class="download-photo btn-outline" href="#" target="_blank">
                <i class="icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="photo-preview">
          <a href="#">
            <div class="img-wrapper">
              <img src="../../../assets/image/360x230.png">
            </div>
          </a>
          <div class="photo-preview-footer">
            <p class="tags">
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
              <a href="#" class="label">tag</a>
            </p>
            <div class="right-option">
              <a class="download-photo btn-outline" href="#" target="_blank">
                <i class="icon icon-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
