//Font
$bold: 700;
$regular: 400;
$font-main: "Montserrat",
sans-serif;
$font-secondary: 'Open Sans',
sans-serif;
$font-btn: 'Galada',
cursive;


//Font-size
$small-size: .75rem;
$medium-size: .875rem;
$regular-size: 1rem;
$big-size: 1.125rem;
$small-title: 1.25rem;
$medium-title: 1.5rem;
$big-title: 2rem;
$big-logo: 2.5rem;

//Colors
$mainBrandColor: #208473;
$mainColor: #3a3a3a;
$secondColor: #979797;
$colorBlack: #0f0d0e;
$mainBg: #f4f7f6;
$invalidColor: #dc3545;
