<app-map></app-map>
<div class="page-wrapper">
  <section class="recent-posts">
    <div class="container">
      <div class="post-preview">
        <div class="row routers-flex">
          <article class="col-4 post">
            <header class="entry-header">
              <div class="cat-links">
                <a>Складність</a>
              </div>
              <h2 class="entry-title">
                <a>Назва</a>
              </h2>
              <div class="entry-title-posted">
                <span class="posted-on">
                  <time>час</time>
                </span>
                <span class="author">Автор</span>
              </div>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="100" src="../../../assets/image/360x230.png" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>Старт:</p>
              <p>Фініш:</p>
              <p>Рівень:</p>
              <p>Протяжність:</p>
              <p>К-сть днів:</p>
            </div>
          </article>
          <article class="col-4 post">
            <header class="entry-header">
              <div class="cat-links">
                <a>Складність</a>
              </div>
              <h2 class="entry-title">
                <a>Назва</a>
              </h2>
              <span class="posted-on">
                <time>час</time>
              </span>
              <span class="author">Автор</span>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="100" src="../../../assets/image/360x230.png" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>Старт:</p>
              <p>Фініш:</p>
              <p>Рівень:</p>
              <p>Протяжність:</p>
              <p>К-сть днів:</p>
            </div>
          </article>
          <article class="col-4 post">
            <header class="entry-header">
              <div class="cat-links">
                <a>Складність</a>
              </div>
              <h2 class="entry-title">
                <a>Назва</a>
              </h2>
              <span class="posted-on">
                <time>час</time>
              </span>
              <span class="author">Автор</span>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="100" src="../../../assets/image/360x230.png" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>Старт:</p>
              <p>Фініш:</p>
              <p>Рівень:</p>
              <p>Протяжність:</p>
              <p>К-сть днів:</p>
            </div>
          </article>
          <article class="col-4 post">
            <header class="entry-header">
              <div class="cat-links">
                <a>Складність</a>
              </div>
              <h2 class="entry-title">
                <a>Назва</a>
              </h2>
              <span class="posted-on">
                <time>час</time>
              </span>
              <span class="author">Автор</span>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="100" src="../../../assets/image/360x230.png" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>Старт:</p>
              <p>Фініш:</p>
              <p>Рівень:</p>
              <p>Протяжність:</p>
              <p>К-сть днів:</p>
            </div>
          </article>
          <article class="col-4 post">
            <header class="entry-header">
              <div class="cat-links">
                <a>Складність</a>
              </div>
              <h2 class="entry-title">
                <a>Назва</a>
              </h2>
              <span class="posted-on">
                <time>час</time>
              </span>
              <span class="author">Автор</span>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="100" src="../../../assets/image/360x230.png" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>Старт:</p>
              <p>Фініш:</p>
              <p>Рівень:</p>
              <p>Протяжність:</p>
              <p>К-сть днів:</p>
            </div>
          </article>
          <article class="col-4 post">
            <header class="entry-header">
              <div class="cat-links">
                <a>Складність</a>
              </div>
              <h2 class="entry-title">
                <a>Назва</a>
              </h2>
              <span class="posted-on">
                <time>час</time>
              </span>
              <span class="author">Автор</span>
            </header>
            <div class="post-thumbnail">
              <a>
                <img width="360" height="100" src="../../../assets/image/360x230.png" alt="general-image">
              </a>
            </div>
            <div class="entry-content">
              <p>Старт:</p>
              <p>Фініш:</p>
              <p>Рівень:</p>
              <p>Протяжність:</p>
              <p>К-сть днів:</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
