<div class="card">
  <div class="card-header flex-box">
    <div>
      <h3>Поради</h3>
    </div>
    <div class="col-1">
      <button type="button" (click)="openModal(modal)">Додати</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 5%;">#</th>
          <th scope="col" style="width: 55%;">Текст</th>
          <th scope="col" style="width: 10%;">Автор</th>
          <th scope="col" style="width: 10%;">Дата</th>
          <th scope="col" style="width: 10%;">Змінити</th>
          <th scope="col" style="width: 10%;">Видалити</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quote of arrQuotes; let i=index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ quote.quote }}</td>
          <td>{{ quote.author }}</td>
          <td>{{ quote.date.toDate() | date: 'yyyy-MM-dd'}}</td>
          <td>
            <button type="button" (click)="editQuote(modal, quote)">Змінити</button>
          </td>
          <td>
            <button type="button" (click)="deleteQuote(quote)">Видалити</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4 *ngIf="!editStatus" class="modal-title pull-right">Додати нову цитату</h4>
    <h4 *ngIf="editStatus" class="modal-title pull-right">Змінити цитату</h4>
  </div>
  <form [formGroup]="form">
    <div class="modal-body">
      <div class="form-control" [ngClass]="{invalid: form.get('quote').touched && form.get('quote').invalid}">
        <label for="quote">Цитата</label>
        <textarea id="quote" formControlName="quote"></textarea>
          <!-- Validation -->
          <div class="validation" *ngIf="form.get('quote').touched && form.get('quote').invalid">
            <small>
              Введіть цитату
            </small>
          </div>
      </div>
      <div class="form-control" [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}">
        <label for="author">Автор</label>
        <input id="author" formControlName="author">
        <!-- Validation -->
        <div class="validation" *ngIf="form.get('author').touched && form.get('author').invalid">
          <small>
            Введіть автора цитати...
          </small>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="cancelCreateQuote()">Відмінити</button>
      <button *ngIf="!editStatus" type="button" (click)="addQuote()" [disabled]='form.invalid'>Зберегти</button>
      <button *ngIf="editStatus" type="button" (click)="saveEdit()">Зберегти зміни</button>
    </div>
  </form>
</ng-template>
